/* mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
}
/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
}
/* small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
}
/* desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
}
/* extra large screens, TV */
@media (min-width: 1201px) {
}

/* header or one of its children should be at
the top of the viewport even after scrolling*/
header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 30px;
  background-color: #FFFFFF;
  z-index: 1;
}

/* utilise flex box at least once */
main {
  display: flex;
  top: 30px;
  z-index: 0;
}
